@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-1 {
    background-color: #f4f1ea;
    height: 100vh;
    text-align: center;
    font-family: "Roboto";
}

.bg-2 {
    background-color: #8b4513;
}

.bg-2-head {
    color: white;
    font-size: 30px;
    padding: 22px;
}

.bg-3 {
    padding: 20px;
}

.bg-3-card {
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: #8b4513;
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 200px;
}

.bg-3-card-head {
    font-size: 20px;
    color: #8b4513;
}

.bg-3-card-para {
    font-size: 18px;
    color: #666666;
}

.bg-4 {
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #8b4513;
    margin: 20px;
}

.audio-properties {
    background-color: white;
    border-radius: 100px;
    width: 85vw;
    margin-top: 10px;
}

.bg-4-head {
    font-size: 30px;
    color: #8b4513;
    padding-top: 10px;
    font-weight: 500;
}

.bg-4-para {
    font-size: 25px;
    color: #8b4513;
    padding-top: 10px;
    padding-bottom: 10px;
}