@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #2c3e50;
    background-size: cover;
    height: 100vh;
    color: #ecf0f1;
}

.center {
    text-align: center;
    font-family: Roboto;
}

.head-font {
    font-family: Playfair Display SC;
    font-size: 30px;
    padding-top: 25px;
}

.para1 {
    color: #f39c12;
}

.font1 {
    font-family: Caveat;
    font-size: 25px;
    font-weight: bold;
}

.img-properties {
    height: 200px;
    width: 130px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.bg-container2 {
    background-color: #34495e;
    border-radius: 15px;
    border-width: 2px;
    border-color: #bdc3c7;
    margin: 15px;
}

.content2 {
    padding: 15px;
}

.para2 {
    font-family: Roboto;
    color: #bdc3c7;
}

.para3 {
    font-family: Bree Serif;
    color: #3498db;
    font-style: italic;
}

.button {
    color: #ecf0f1;
    border-width: 1px;
    border-color: #ecf0f1;
    border-radius: 5px;
}

.img-properties2 {
    height: 200px;
    width: 170px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}