@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #225db0;
    font-family: "Roboto";
    height: 100vh;
}

.home-top-card {
    padding-left: 50px;
    padding-top: 60px;
}

.home-heading {
    font-size: 40px;
    color: white;
}

.home-para {
    font-size: 20px;
    color: white;
}

.home-imgs {
    padding: 10px;
    height: 64px;
    width: 64px;
}

.home-card {
    width: 150px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    margin: 20px;
}

.carousel-properties {
    padding: 20px;
    border-radius: 20px;
}

.margin {
    margin: 20px;
}

.detail-card {
    color: white;
    margin: 20px;
}

.list-spacing {
    padding: 5px;
}

.button-div {
    text-align: center;
}

.button {
    background-color: #225db0;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-color: white;
    color: white;
}