@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top-bg {
    background-color: #fb4e71;
    padding: 20px;
    font-family: "Roboto";
}

.para1 {
    color: white;
}

.top-heading {
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.bottom-bg {
    background-color: #e6f6ff;
    padding: 20px;
}

.mid-bg {
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px;
}

.head1 {
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: bold;
}

.head2 {
    font-size: 18px;
}

.para2 {
    color: #888888;
    font-size: 14px;
}

.bottom-bg2 {
    padding-top: 20px;
    text-align: center;
    margin: 1px;
}

.div-properties {
    width: 100px;
}

.para3 {
    font-size: 12px;
}

.h1ovr {
    text-align: left;
}