@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    text-align: center;
    background-color: #000000;
    height: 120vh;
    font-family: "Roboto";
    padding: 20px;
}

.bg-heading {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.mid-card {
    border-radius: 25px;
    background-color: #333333;
    margin-top: 20px;
}

.img-top {
    height: 90px;
    width: 90px;
    border-radius: 35px;
    padding: 10px;
    margin-top: 10px;
}

.para {
    color: white;
}

.mid-head {
    font-size: 35px;
    color: #cccccc;
}

.audio-properties {
    width: 80vw;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}

.content-img {
    width: 300px;
    height: 150px;
}

.content-card-props {
    width: 300px;
    background-color: #333333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
    margin: 20px;
    padding-right: 40px;
}

.content-card-head {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 15px;
}

.content-card-para {
    font-size: 15px;
    color: #cccccc;
    margin-left: 15px;
}

.ul-prop {
    list-style-type: none;
    padding: 0px;
    margin: 20px;
    margin-right: 8px;
}