@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/foodbg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    color: #323f4b;
}

.bg-container-card {
    background-color: #f6c56e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.heading {
    font-family: Bree Serif;
    padding-top: 30px;
    font-size: 30px;
}

.para {
    font-weight: bold;
}

.button {
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
}