@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://s3.ap-south-1.amazonaws.com/new-assets.ccbp.in/frontend/loading-data/niat_static/niat_course_exams/css_box_model_properties_5_v10_bg_1.jpg");
    background-size: cover;
    height: 100vh;
}

.top-div {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.top-heading {
    font-family: "Playfair Display SC";
    color: #FFA500;
    text-decoration: underline;
    font-size: 40px;
}

.top-para {
    color: #FAFAD2;
    font-family: "Caveat";
    font-size: 30px;
    font-style: italic;
}

.bottom-div {
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #FF8C00;
    background-color: #8B4513d9;
    margin: 20px;
    padding: 30px;
}

.bottom-div-heading {
    font-family: Lobster;
    font-size: 45px;
    color: #FFD700;
}

.bottom-div-para {
    color: #FAFAD2;
    font-family: "Roboto";
    font-size: 18px;
}

.button {
    background-color: #FF8C00;
    border-radius: 50px;
    border-width: 0px;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Bree Serif";
    font-size: 15px;
}